*{
	font-family: "Oxygen", sans-serif;
	background-color: #F2F9FC;
}

button{
	border-style: none;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	margin:0px 10px;
	background-color: white;
	border-radius: 10px;
}

button:focus{
	outline:0px;	
	border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

input{
	margin: 10px;
	padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  background-color: white;
}
input:focus{
	outline:0px;	
	border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#name{
	font-size: 5rem;
}

.flex{
	-moz-display:flex;
	-ms-display:flex;
	-o-display:flex;
	-webkit-display:flex;
	display:flex;
}

.row{
	-moz-flex-direction:row;
	-ms-flex-direction:row;
	-o-flex-direction:row;
	-webkit-flex-direction:row;
	flex-direction:row;
}

.column{
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	-o-flex-direction:column;
	-webkit-flex-direction:column;
	flex-direction: column;
}

.center{
	-moz-justify-content:center;
	-ms-justify-content:center;
	-o-justify-content:center;
	-webkit-justify-content:center;
	justify-content: center;
}

.around{
	-moz-justify-content:space-around;
	-ms-justify-content:space-around;
	-o-justify-content:space-around;
	-webkit-justify-content:space-around;
	justify-content: space-around;
}

.between{
	-moz-justify-content:space-between;
	-ms-justify-content:space-between;
	-o-justify-content:space-between;
	-webkit-justify-content:space-between;
	justify-content: space-between;
}

.vertical-center{
	-moz-align-items:center;
	-ms-align-items:center;
	-o-align-items:center;
	-webkit-align-items:center;
	align-items: center;
}

#wins{
	color:green;
}

#ties{
	color:orange;
}

.scores{
	margin:10px 20px;
}

#losses{
	color:red;
}

.fa-5x{
	font-size:10rem !important;
}

.set{
	width: 80px;
}










