*{
	font-family: "Oxygen", sans-serif;
	background-color: #F2F9FC;
}

button{
	border-style: none;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	margin:0px 10px;
	background-color: white;
	border-radius: 10px;
}

button:focus{
	outline:0px;	
	border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

button:hover{
	cursor:pointer;
}

input{
	margin: 10px;
	padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  background-color: white;
}
input:focus{
	outline:0px;	
	border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

i:hover{
	cursor: pointer;
}

#name{
	font-size: 5rem;
}

.flex{
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display:flex;
}

.row{
	-webkit-flex-direction: row;
	flex-direction: row;
}

.column{
	-webkit-flex-direction: column;
	flex-direction: column;
}

.center{
	-webkit-justify-content: center;
	justify-content: center;
}

.around{
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.between{
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.vertical-center{
	-webkit-alight-items: center;
	align-items: center;
}

#wins{
	color:green;
}

#ties{
	color:orange;
}

.scores{
	margin:10px 20px;
}

#losses{
	color:red;
}

.fa-5x{
	font-size:10rem !important;
}

.set{
	width: 80px;
}










